<main id="login-main">
    <div id="login-container">
        <h1>Aggie Men's Alliance</h1>
        <h2>AlumniTraq</h2>

        <%= button_to "Continue with Google", user_google_oauth2_omniauth_authorize_path, class: 'oauth-button' %>
        <%= button_to "Continue with Facebook", user_facebook_omniauth_authorize_path, class: 'oauth-button' %>
        <%= button_to "Continue with LinkedIn", user_linkedin_omniauth_authorize_path, class: 'oauth-button' %>
    </div>
</main>