<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job_category.name %>
</p>

<%= link_to 'Edit', edit_job_category_path(@job_category) %> |
<%= link_to 'Back', job_categories_path %>
