
<%= form_tag search_basic_searches_url, :method => 'get' do %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link active" id="nav-basic-search-tab" data-bs-toggle="tab" href="#nav-basic-search" role="tab" aria-controls="nav-basic-search" aria-selected="true">Keyword Search</a>
      <a class="nav-link" id="nav-advanced-search-tab" data-bs-toggle="tab" href="#nav-advanced-search" role="tab" aria-controls="nav-advanced-search" aria-selected="false">Advanced Search</a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-basic-search" role="tabpanel" aria-labelledby="nav-basic-search-tab">
      <%= search_field_tag :keyword, params[:keyword], class: "form-label rounded", placeholder: "Search"%>
      <%= submit_tag 'Keyword Search', class: "btn btn-outline-primary" %>

    </div>
    <div class="tab-pane fade" id="nav-advanced-search" role="tabpanel" aria-labelledby="nav-advanced-search-tab">
      <%= link_to "Advanced Search", advanced_searches_path %>
    </div>
  </div>
<% end %> 

