
<p id="notice"><%= notice %></p>

<h1>Admin</h1>

<table>
  <tbody>
    <td><%= link_to 'Approvals', approvals_path(admin) %></td>
  </tbody>
</table>

<br>

<%= link_to 'New Alumnus', new_alumnus_path %>
