<p id="notice"><%= notice %></p>

<h1>Users</h1>

<br>
<% if is_admin? %>
    <%= link_to 'Admin Approvals', admin_index_path %>
    <br>
<% end %>
<%= link_to 'Edit Profile', edit_user_path(session[:user_id]) %>