<h1>New User</h1>

<!-- Section: Design Block -->
<section class="text-left">

    <div class="card shadow-5-strong sign-up-pad" style="
        
        background: #510400;
        backdrop-filter: blur(30px);
        opacity: .96;
        ">

        <div class="card-body py-5 px-md-5">
            <div class="row d-flex justify-content-center">

                <%= render 'form', user: @user %>

                <%= link_to 'Back', Current.previous_path %>

            </div>
        </div>

    </div>
</section>
<!-- Section: Design Block -->
