<h1>Directory</h1>

<form action="/search" accept-charset="UTF-8" method="get">
  <div class="field">
    <input type="text" name="*" id="search_field">
  </div>

  <div class="actions">
    <!--<input type="submit" name="commit" value="Create User" data-disable-with="Create User">-->
    <%= link_to 'Search', '/directory/search' %>
  </div>
</form>
