/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */

body {
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    padding: 7px 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

nav ul li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #666
}

nav li form input {
    background-color: initial;
    border:none;
    color:#666;
}
  
nav li form input:hover {
    color: #fff;
    cursor: pointer;
}

.profile-tab {
    padding: 0 4px;
}