// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#login-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-main h1 {
    text-align: center;
    color: white;
}

#login-main form {
    background-color: rgb(25, 25, 40);
    color: #888;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}

#login-main div {
    margin: 5px 0;
    width: 75%;
}

#login-main .oauth-button {
    margin: 10px 0;
    width: 100%;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px #AAA solid;
}

#login-main .oauth-button:hover {
    box-shadow: 0 0 5px white;
    cursor: pointer;
}

#login-main .oauth-button:active {
    box-shadow: none;
    background-color: #AAA;
}

#login-main input {
    width: 100%;
}

#signup-btn a {
    color: #888;
}

#signup-btn a:hover {
    color: #FFF;
    background-color: initial;
}